@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-gradient {
        background: linear-gradient(90deg, #3137d5, #50c7d9);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .side-active {
        @apply text-white underline decoration-2 underline-offset-4;
    }
    .reverse-shadow {
        box-shadow: -10px 10px #50239c;
    }
    .point > p {
        @apply cursor-pointer;
    }
}
